.validacion {
    font-weight: bold;
    color: brown;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    
}
.ingreso{
    margin: .5rem;
}
.boton{
    width: 30%;
   
}
.contenedor{
    margin-top: 3rem;
    margin-left: 3rem;
    width: 50%;
    
}