/* reseteo basico*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.containerItemCount {
  background-color: blue;
  width: 180px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}

.buttonCount {
  height: 30px;
  width: 30px;
  color: white;
  outline: none;
  border: none;
  background-color: blue;
  font-size: large;
  border-radius: 10px;
  
}

.numberCount {
  color: white;
  background-color: blue;
}

.buttonAddCart {
  width: 180px;
  height: 30px;
  margin: 10px 0px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  transition: 0.3s;
}

.buttonAddCart:hover {
  background-color: darkblue;
}







.count-container__contador {
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    width: 140px;
    height: 50px;
    font-weight: 600;
    font-size: 1.4rem;
    margin: 40px auto 0;
  }
  
  .count-container__button {
    color: var(--primary-color);
    width: 100%;
    height: 100%;
    border: 1px solid var(--border-color);
    font-size: 1.6rem;
    transition: all 250ms ease-out;
  }
  
  .count-container__button:hover {
    border: none;
    color: var(--just-white);
    background-color: var(--primary-color);
  }
  
  .count-container__button[disabled] {
    color: var(--border-color);
    background-color: transparent;
    border: 1px solid var(--border-color);
  }
  
  .count-container__qty {
    height: 100%;
    padding-top: 10px;
    color: var(--primary-color);
    background-color: var(--just-white);
  }